```
╭─────────────────────────────────────────────────────────────╮
│  ⭐️  Hi There! Let's have some prompty fun...              │
╰─────────────────────────────────────────────────────────────╯

peep is a simple utility that reaches out to the web and pulls down 
scripted commands that you can use to generate groovy prompts.

📝 Usage:
The simplest way to do this is by using the shell and redirecting
the output into a file:

  $ peep react-component > react-component.md

You can then edit this file to come up with the prompt of your dreams.

📋 Available Commands:
  $ peep list

❓ Need Help?
If you have any questions please feel free to drop by the issues
list at https://github.com/robconery/tek.pub/issues.

🤝 Contributing:
If you have some ideas or would like to include your own prompts
here, feel free to submit a PR!
```